<template>
  <b-container fluid>
    <PasteForm />
    <b-list-group flush id="pastes">
      <b-list-group-item
        v-for="item in pastes"
        :key="item.id"
        :to="{ name: 'paste', params: { id: item._id } }"
      >
        {{ item.title }}
      </b-list-group-item>
    </b-list-group>
  </b-container>
</template>

<script>
import PasteForm from '../components/PasteForm';
import pasteService from '../services/paste.service';
export default {
  name: 'home',
  data() {
    return {
      pastes: []
    };
  },
  components: {
    PasteForm
  },
  mounted() {
    pasteService.postRecent().then(pastes => {
      this.$set(this, 'pastes', pastes);
    });
  }
};
</script>

<style scoped></style>
