<template>
  <div class="container-fluid">
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      footer-border-variant="secondary"
      align="left"
      :header="pastes.title"
      :footer="pastes.createdAt"
    >
      <b-card-text>{{ pastes.content }}</b-card-text>
    </b-card>
  </div>
</template>

<script>
import pasteService from '../services/paste.service';
export default {
  name: 'paste',
  data() {
    return {
      id: this.$route.params.id,
      pastes: {}
    };
  },
  mounted() {
    pasteService.getById(this.id).then(pastes => {
      this.$set(this, 'pastes', pastes);
    });
  }
};
</script>

<style scoped></style>
