<!-- This is a form text block (formerly known as help block) -->
<b-form-text id="input-live-help">Your full name.</b-form-text
><template>
  <div>
    <b-form>
      <b-form-input
        class="title-input"
        v-model="title"
        type="text"
        placeholder="Title"
        :state="titleState"
        aria-describedby="input-title-feedback"
        trim
      />

      <!-- This will only be shown if the preceding input has an invalid state -->
      <b-form-invalid-feedback id="input-title-feedback">
        Enter at least 1 letter and at most 512 letters
      </b-form-invalid-feedback>

      <b-form-textarea
        class="content-input"
        v-model="content"
        type="text"
        placeholder="Content"
        :state="contentState"
        aria-describedby="input-content-feedback"
      />

      <!-- This will only be shown if the preceding input has an invalid state -->
      <b-form-invalid-feedback id="input-content-feedback">
        Content is too short or too long
      </b-form-invalid-feedback>

      <b-button
        class="submit-input"
        block
        @click="onSubmit()"
        type="button"
        variant="outline-dark"
        >Submit</b-button
      >
    </b-form>
  </div>
</template>

<script>
import pasteService from '../services/paste.service';
export default {
  data() {
    return {
      title: '',
      content: '',
      newPaste: ''
    };
  },
  methods: {
    onSubmit() {
      if (this.titleState && this.contentState) {
        pasteService.postContent(this.title, this.content).then(newPaste => {
          this.$set(this, 'newPaste', newPaste.data.id);
        });
        this.title = '';
        this.content = '';
        this.$router.go('Home');
      } else {
        alert('Requirements not met');
      }
    }
  },
  computed: {
    titleState() {
      return this.title.length > 0 ? this.title.length < 513 : false;
    },
    contentState() {
      // eslint-disable-next-line no-console
      console.log(Buffer.byteLength(this.content));
      return Buffer.byteLength(this.content) > 0
        ? Buffer.byteLength(this.content) < 64001
        : false;
    }
  }
};
</script>

<style scoped>
.title-input,
.content-input,
.submit-input {
  margin: 16px auto;
}
</style>
